.quizBox {
  border: thin solid black;
  background: powderblue
}

.editBox {
  width: 100%
}

.seekButton {
  border: thin solid black;
  background: blue
}

.hiddenWord { color: green }

.revealedWord { color: red }

body {
  font-size: 1.25rem
}
